.env
venv/

# Python bytecode cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Trained Model Weights / Checkpoints
roberta_absa_best_4class/

# AI 모델 가중치 확장자들 (혹시 모를 대비)
*.bin
*.pt
*.pth
*.safetensors
*.onnx